menu "NVS"
    config SUPPORT_NVS_FLASH
        bool "Enable NVS FLASH"
        default n

    config NVS_ENCRYPTION
        bool "Enable NVS encryption"
        depends on SUPPORT_NVS_FLASH
        default n
        help
            This option enables encryption for NVS. When enabled, XTS-AES is used to encrypt
            the complete NVS data, except the page headers. It requires XTS encryption keys
            to be stored in an encrypted partition (enabling flash encryption is mandatory here)
            or to be derived from an HMAC key burnt in eFuse.

    config SHANHAI_KEY_LADDER
        depends on SUPPORT_NVS_FLASH
        bool "Enable shanghai/te200 Key Ladder"
        default n

    config NVS_TEST
        bool "Enable nvs test"
        depends on SUPPORT_NVS_FLASH
        default n

    config SUPPORT_NVS_THREAD_SAFETY_TEST
        bool "Enable nvs thread safety test"
        depends on SUPPORT_NVS_FLASH && NVS_TEST
        default n

    config NVS_DEBUG_STORAGE
        bool "Enable nvs debug storage"
        default n
endmenu
