menu "Project specific config"

	config RELIABILITY_TEST
		bool "Enable WiFi test"
		default y

	config WIFI_RELIABILITY_TEST
		bool "Enable WiFi test"
		default y

	config WIFI_RELIABILITY_STA_SSID
		string "STA SSID for WiFi reliability test"
		default "wifi_reliability_test"
		depends on WIFI_RELIABILITY_TEST

	config WIFI_RELIABILITY_STA_PASSPHRASE
		string "STA WPA passphrase for WiFi reliability test"
		default "12345678"
		depends on WIFI_RELIABILITY_TEST

	config FLASH_RELIABILITY_TEST
		bool "Enable Flash test"
		default n

	config WIFI_RELIABILITY_SAVE_INTERVAL
		int "Save interval for WiFi reliability stats (in seconds)"
		default 600
		depends on WIFI_RELIABILITY_TEST

	config PSRAM_RELIABILITY_TEST
		bool "Enable PSRAM test"
		default n

	config WIFI_RELIABILITY_STA_SECURITY
		int "STA Security type for WiFi reliability test"
		default 3
		depends on WIFI_RELIABILITY_TEST

	config RELIABILITY_CPU_FREQ_MHZ
		int "CPU frequency for reliability test (MHz)"
		default 240
		range 120 240
		help
		  Select 120/160/240 MHz for CPU frequency voting in reliability tests.

	config WIFI_RELIABILITY_SHOW_TEMP_INTERVAL
		int "Show temperature interval for WiFi reliability test (in seconds)"
		default 10
		depends on WIFI_RELIABILITY_TEST

endmenu
