menu "OTP"
	config OTP
		bool "Enable OTP"
		default n

	config OTP_PUF
		bool "Enable OTP random for bk_rand"
		default n
		depends on OTP
		help
			Use OTP PUF to generate true random numbers.

	config FLASH_OTP
		bool "Enable FLASH_OTP"
		default n

	config PHY_RFCALI_TO_OTP
		bool "Enable rfcali_to_otp"
		default n
		help
			Use OTP to save rfcali data

	config AON_ENCP
		bool "Always enable encp"
		default n
	
	config OTP_EFUSE_SUPPORT
		bool "Enable otp to efuse"
		default n

endmenu